<% provide(:title, 'Add item to cart') %>
<h2>You are about to add this item into your cart</h2>

<div class="row-fluid center">
  <div class="span8 offset2 center">
        <%= product_image(@Product.image,"big",@Product.name) %><h2><%= @Product.name %></h2>
        <p><%= @Product.description %></p>

    <%= form_for(@cart, url: create_cart_path) do |c| %>
      <label for="cat_name">Quantity</label>
      <select name="cart[number]" value="cat_name" class="span2">
        <% for i in (1..20) do %>
        <option><%=i%></option>
        <% end %>
      </select>

      <input type="hidden" name="cart[product_id]" value="<%=@Product.id%>" />

      <% @error = @cart %>
      <%= render 'shared/error_messages' %>
      </br><button type="submit" class="btn"><i class="icon-shopping-cart"></i> Add to my cart</button>
    <% end %>
  </div>
</div>