<% provide(:title, 'All users') %>
<h1>All users</h1>
<%= will_paginate %>
<ul class="users">
  <% @user.each do |user| %>
    <li>
  <%= gravatar_for user, size: 52 %>
  <%= link_to "Example Users", user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "Delete acc", user, method: :delete, data: { confirm: "You sure?" } %>
  <% end %>
</li>

  <% end %>
</ul>
<%= will_paginate %>