<% provide(:title, "Edit product") %>
<h1>Edit product info</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@Product) do |p| %>
      
      <%= p.label :name %>
      <%= p.text_field :name %>

      <label for="cat_name">Category Name</label>
      <select name="product[category_name]" value="cat_name">
        <% Category.all.each do |c| %>
        <option><%=c.name%></option>
        <% end %>
      </select>

      <%= p.label :price %>
      <%= p.number_field :price %>

      <%= p.label :count %>
      <%= p.number_field :count %>

      <%= p.label :image %>
      <%= p.text_field :image %>

      <%= p.label :description %>
      <%= p.text_area :description %>

      <% @error = @Product %>
      <%= render 'shared/error_messages' %>

      <%= p.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>