<% provide(:title, "Detail product") %>
<div class="row-fluid center">
  	<%= link_to product_image(@Product.image,"big",@Product.name), @Product %>
  	<h2><%= @Product.name %></h2>
  	<p>Price: <%=@Product.price%></p>
  	<p>Rate: <%=@Product.rate%><i class="icon-star-empty"></i></p>
  	<p><%= @Product.description %></p>
	</br>
	<form action="<%= new_cart_path(@Product.id)%>">
		<button type="submit" class="btn"><i class="icon-shopping-cart"></i> Add to cart</button>
	</form>
</div> 