<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "VenShop", root_path, id: "logo" %>
      <form class="form-search pull-left" id="headersearch" action="<%= products_path %>" method="get">
        <div class="input-append">
        <input type="text" class="search-query" placeholder="Search something here" name="search">
        <button type="submit" class="btn" id="searchbutton"><i class="icon-search"></i></button>
        </div>
      </form>
      <nav>
        <ul class="nav pull-right">
          <li><a href="<%= root_path %>"><i class="icon-home"></i> Home</a></li>
          <% if loged_in? %>
            <% @curr = current_user %>
            <% if @curr.admin %>
              <li><a href="<%= user_index_path %>"><i class="icon-th-list"></i> All user</a></li>
            <% end %>
            <li><a href="<%= new_product_path %>"><i class="icon-upload"></i> Upload Item</a></li>
            <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i> Account<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="<%= user_path(current_user) %>"><i class="icon-folder-close"></i> Profile/Cart</a></li>
                  <li><a href="<%= edit_user_path(current_user) %>"><i class="icon-edit"></i> Edit Profile</a></li>
                  <li class="divider"></li>
                  <li><a href="<%= logout_path %>" data-method="delete"><i class="icon-share-alt"></i> Log out</a></li>
                </ul>
            </li>
          <% else %>
            <li><a href="<%= login_path %>"><i class="icon-off"></i> Login</a></li>
            <li><a href="<%= register_path %>"><i class="icon-pencil"></i> Register</a></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>