<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container" id="mainlayout">
      <img src="http://3.bp.blogspot.com/-xr_YCxnkHuw/TZxesjXaf3I/AAAAAAAAABc/S0WcGcQJb2A/s1600/Esq-Web-Banner_38181014.jpg">
      <div class="row-fluid span12 test">
          <%= render 'layouts/navside' %>
          <div class="span9"><% flash.each do |key,value| %>
          <%= content_tag(:div, value, class: "alert alert-#{key}") %>
          <% end %>
          <%= yield %></div>
      </div>
    </div>
      <%= render 'layouts/footer' %>
  </body>
</html>